.upload-container{
    width: 100px;
    .upload-label{
        width: 100%;
        background-color: green;
        padding: 4px 10px;
        border-radius: 4px;
        text-align: center;
        color: white;
        cursor: pointer;
    }
}